.header {
  background: #e65252;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  padding: 1rem;
  width: 15vh;
}

.logo {
  text-align: center;
}

.logo h3 {
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: -18px;
  color: rgb(31, 3, 22);
}

.menu a {
  display: inline;
  padding: 20px;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(31, 3, 22);
}

.menu a:hover {
  color: rgb(255, 255, 255);
}

.search__btn i,
.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.search__btn a {
  text-decoration: none;
  padding-right: 20px;
}

.cart__icon {
  position: relative;
}

.cart__badge {
  position: absolute;
  top: -20px;
  right: -10px;
  background: rgb(198, 12, 12);
  width: 20px;
  height: 20px;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user a {
  text-decoration: none;
  padding-left: 20px;
}
